/* Bootstrap. */
@import "../../bower_components/bootstrap/less/bootstrap.less";


.unbalanced {
  background-color: red;
}

TABLE {
  .table;
  .table-hover;
  .table-striped;
  .table-condensed;
  .table-bordered;
}

FORM {
  .form-inline();
  .form-group {
    INPUT, SELECT {
      .form-control();
    }
  }
}

BUTTON {
  .btn();
  .btn-default();
}

.account-list {
  .level-0 {
    
  }
  .level-1 {
    padding-left: 20px;
    font-size: .9em;
  }
  .level-2 {
    padding-left: 40px;
    font-size: .9em;
  }
  .level-3 {
    padding-left: 60px;
    font-size: .9em;
  }
}

BODY#ui__dashboard {
  #create_transaction {
    BUTTON {
      .btn-primary();
    }
  }

  #recent_operations,
  #next_operations,
  #unbalanced_transactions {
    .make-lg-column(6);
    TABLE {
      TH {
        text-align: center;
      }
      TD.transaction {
        text-align: right;
      }
      TD.amount {
        text-align: right;
      }
    }
  }
}
