{% extends "cashmere/base.html" %}
{% load i18n floppyforms %}

{% block head_title %}{% if block.super %}{{ block.super }} &ndash; {% endif %}Account {{ object.slug }}{% endblock %}
{% block content_title %}Account {{ object.slug }}{% endblock %}
{% block content_baseline %}{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li><a href="{% url 'ui:dashboard' %}">{% trans "Accounts" %}</a></li>
  {% for ancestor in object.get_ancestors %}
    <li><a href="{{ ancestor.get_absolute_url }}">{{ ancestor.slug }}</a></li>
  {% endfor %}
{% endblock %}

{% block content %}
  <h2>{% trans "Balances" %}</h2>
  <dl>
    <dt>Today<dt>
    <dd>{{ account.balance }}</dd>
    <dt>Current month<dt>
    <dd>{{ account.month_balance }}</dd>
    <dt>Last month<dt>
    <dd>{{ account.last_month_balance }}</dd>
    <dt>Next month<dt>
    <dd>{{ account.next_month_balance }}</dd>
  </dl>

  <h2>Children</h2>
  <table>
    <tr>
      <th>Account</th>
      <th>Last month</th>
      <th>Today</th>
      <th>This month</th>
      <th>Next month</th>
      <th></th>
    </tr>
    {% for account in object.get_descendants %}
      <tr>
        <td style="padding-left: {{ account.level }}0px;">
          <a href="{{ account.get_absolute_url }}">{{ account }}</a>
        </td>
        <td>{{ account.last_month_balance }}</td>
        <td><strong>{{ account.balance }}</strong></td>
        <td>{{ account.month_balance }}</td>
        <td>{{ account.next_month_balance }}</td>
        <td>
          <a href="{{ account.get_absolute_url }}">Operations</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  
  <h2>Operations</h2>
  <table>
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Transaction</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    {% for operation in operations %}
      <tr>
        <td>{{ operation.date }}</td>
        <td><a href="{{ operation.account.get_absolute_url }}">{{ operation.account }}</a></td>
        <td class="transaction {% if operation.transaction.total_balance != 0 %}unbalanced{% endif %}">
          <a href="{% url 'ui:transaction_detail' operation.transaction.pk %}">
            {{ operation.transaction.pk }}
          </a>
        </td>
        <td>{{ operation.description }}</td>
        <td>{{ operation.amount }}</td>
      </tr>
    {% endfor %}
  </table>
  
  <h2>Import operations</h2>
  <form enctype="multipart/form-data" method="POST" action="{% url 'ui:operation_import' %}">
    {% csrf_token %}
    {% form import_operations_form %}
    <button type="submit">Import</button>
  </form>
{% endblock %}
