{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% if block.super %}{{ block.super }} &ndash; {% endif %}Cashmere{% endblock %}

{% block body_header %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="{% url 'ui:dashboard' %}">Cashmere</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {% if accounts %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Accounts" %} <span class="caret"></span></a>
              <ul class="dropdown-menu account-list" role="menu">
                {% for account in accounts %}
                  {% if account.level < 2 %}
                    <li class="level-{{ account.level }}"><a href="{% url 'ui:account_detail' account.pk %}">{{ account.slug }}</a></li>
                  {% endif %}
                {% endfor %}
               </ul>
            </li>
          {% endif %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Operations" %} <span class="caret"></span></a>
            <ul class="dropdown-menu operation-list" role="menu">
              <li>
                <a href="{% url 'ui:operation_list' %}?date_floor={% now '01/m/Y' %}&date_ceil={% now 't/m/Y' %}&order_by=date&order_reverse=1">{% trans "This month" %}</a>
              </li>
              <li>
                <a href="{% url 'ui:operation_list' %}?date_ceil={% now 'd/m/Y' %}&order_by=date&order_reverse=1">{% trans "Past" %}</a>
              </li>
              <li>
                <a href="{% url 'ui:operation_list' %}?date_floor={% now 'd/m/Y' %}&order_by=date&order_reverse=0">{% trans "Future" %}</a>
              </li>
             </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

{% block breadcrumb %}
  {{ block.super }}
  <li><a href="{% url 'ui:dashboard' %}"><span class="glyphicon glyphicon-home">&nbsp;</span></a></li>
{% endblock %}
