{% extends "cashmere/base.html" %}
{% load i18n floppyforms %}

{% block head_title %}{% if block.super %}{{ block.super }} &ndash; {% endif %}{% trans "Cashmere" %}{% endblock %}
{% block content_title %}{% trans "Cashmere" %}{% endblock %}
{% block content_baseline %}{% trans "Manage your money." %}{% endblock %}

{% block content %}
  <form id="cart_form" method="POST" action="{% url 'ui:cart' %}">
    {% csrf_token %}
    <input id="cart_form_items" name="items" type="hidden" value="{{ operation.transaction.pk }}" />
  </form>

  <article id="create_transaction">
    <h2>{% trans "Input new transaction" %}</h2>
    <form action="{% url 'transaction_create' %}" method="POST">
      {% csrf_token %}
      {% form create_transaction_form using "floppyforms/layouts/bootstrap.html" %} 
      <button type="submit">{% trans "Create transaction" %}</button>
    </form>
  </article>

  <h2>{% trans "Cart" %}</h2>
  {% if cart.items %}
    <a href="{% url 'ui:cart_empty' %}">Empty cart</a>
    | 
    <a href="{% url 'ui:transaction_merge' %}">Merge transactions</a>
    <table>
      <tr>
        <th></th>
        <th>Transaction</th>
        <th>Balance</th>
        <th>Date</th>
        <th>Account</th>
        <th>Description</th>
        <th>Amount</th>
        <th></th>
      </tr>
      {% for transaction in cart.items %}
        <tr>
          <td rowspan="{{ transaction.operations.count }}">
            <form>
              {% csrf_token %}
              <input type="checkbox" value="">
            </form>
          </td>
          <td rowspan="{{ transaction.operations.count }}">
            <a href="{% url 'ui:transaction_detail' transaction.pk %}">
              {{ transaction.pk }}
            </a>
          </td>
          <td rowspan="{{ transaction.operations.count }}">
            <strong>{{ transaction.total_balance }}</strong>
          </td>
      {% for operation in transaction.operations.all %}
        {% if not forloop.first %}
          <tr>
        {% endif %}
          <td>{{ operation.date }}</td>
          <td>
            <a href="{{ operation.account.get_absolute_url }}">
              {{ operation.account }}
            </a>
          </td>
          <td>{{ operation.description }}</td>
          <td>{{ operation.amount }}</td>
          {% if forloop.first %}
            <td rowspan="{{ transaction.operations.count }}"></td>
          {% endif %}
        </tr>
      {% endfor %}
      {% endfor %}
    </table>
  {% else %}
    <p>{% trans "Your cart is empty." %}</p>
  {% endif %}

  <article id="recent_operations">
    <h2>{% trans "Recent operations" %}</h2>
    <table>
      <tr>
        <th class="date">Date</th>
        <th class="account">Account</th>
        <th class="description">Description</th>
        <th class="amount">Amount</th>
        <th class="actions"></th>
      </tr>
      {% for operation in recent_operations %}
      <tr class="{% if operation.is_future %}future{% endif %}">
          <td class="date">{{ operation.date|date:"d/m/Y" }}</td>
          <td class="account">
            <a href="{{ operation.account.get_absolute_url }}" title="{{ operation.account }}">
              {{ operation.account.slug }}
            </a>
          </td>
          <td class="description">{{ operation.description }}</td>
          <td class="amount">{{ operation.amount|stringformat:".2f" }}</td>
          <td class="actions">
            <a href="{% url 'ui:transaction_detail' operation.transaction.pk %}" class="btn btn-xs btn-primary" title="{{ operation.transaction.pk }}">
              <span class="glyphicon glyphicon-pencil"> </span>
            </a>
            <button type="button" class="btn btn-xs btn-default" onClick="$('#cart_form_items').val('{{ operation.transaction.pk }}');$('#cart_form').submit();"><span class="glyphicon glyphicon-shopping-cart"> </span></button>
          </td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'ui:operation_list' %}?date_ceil={% now 'd/m/Y' %}&order_by=date&order_reverse=1">{% trans "View all past operations" %}</a>
  </article>

  <article id="next_operations">
    <h2>{% trans "Next operations" %}</h2>
    <table>
      <tr>
        <th class="date">Date</th>
        <th class="account">Account</th>
        <th class="description">Description</th>
        <th class="amount">Amount</th>
        <th class="actions"></th>
      </tr>
      {% for operation in next_operations %}
      <tr class="{% if operation.is_future %}future{% endif %}">
          <td class="date">{{ operation.date|date:"d/m/Y" }}</td>
          <td class="account">
            <a href="{{ operation.account.get_absolute_url }}" title="{{ operation.account }}">
              {{ operation.account.slug }}
            </a>
          </td>
          <td class="description">{{ operation.description }}</td>
          <td class="amount">{{ operation.amount|stringformat:".2f" }}</td>
          <td class="actions">
            <a href="{% url 'ui:transaction_detail' operation.transaction.pk %}" class="btn btn-xs btn-primary" title="{{ operation.transaction.pk }}">
              <span class="glyphicon glyphicon-pencil"> </span>
            </a>
            <button type="button" class="btn btn-xs btn-default" onClick="$('#cart_form_items').val('{{ operation.transaction.pk }}');$('#cart_form').submit();"><span class="glyphicon glyphicon-shopping-cart"> </span></button>
          </td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'ui:operation_list' %}?date_floor={% now 'd/m/Y' %}&order_by=date&order_reverse=0">{% trans "View all future operations" %}</a>
  </article>


  <h2>{% trans "Unbalanced transactions" %}</h2>
  <table>
    <tr>
      <th>Transaction</th>
      <th>Balance</th>
      <th>Date</th>
      <th>Account</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    {% for transaction in unbalanced_transactions %}
      <tr>
        <td rowspan="{{ transaction.operations.count }}">
          <a href="{% url 'ui:transaction_detail' transaction.pk %}">
            {{ transaction.pk }}
          </a>
        </td>
        <td rowspan="{{ transaction.operations.count }}">
            <strong>{{ transaction.total_balance }}</strong>
        </td>
    {% for operation in transaction.operations.all %}
      {% if not forloop.first %}
        <tr>
      {% endif %}
        <td>{{ operation.date }}</td>
        <td>
          <a href="{{ operation.account.get_absolute_url }}">
            {{ operation.account }}
          </a>
        </td>
        <td>{{ operation.description }}</td>
        <td>{{ operation.amount }}</td>
      </tr>
    {% endfor %}
    {% endfor %}
  </table>

  <h2>{% trans "Accounts" %}</h2>
  <table>
    <tr>
      <th>Account</th>
      <th>Last month</th>
      <th>Today</th>
      <th>This month</th>
      <th>Next month</th>
      <th>Monthly (1)</th>
      <th>Monthly (3)</th>
      <th>Monthly (6)</th>
      <th>Monthly (12)</th>
    </tr>
    {% for account in account_list %}
      <tr>
        <td style="padding-left: {{ account.level }}0px;">
          <a href="{{ account.get_absolute_url }}">
            {{ account.slug }}
          </a>
        </td>
        <td>{{ account.last_month_balance }}</td>
        <td><strong>{{ account.balance }}</strong></td>
        <td>{{ account.month_balance }}</td>
        <td>{{ account.next_month_balance }}</td>
        <td>{{ account.monthly_amount.1 }}</td>
        <td>{{ account.monthly_amount.3 }}</td>
        <td>{{ account.monthly_amount.6 }}</td>
        <td>{{ account.monthly_amount.12 }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
